tab1 {
    padding-left: 0em;
}

tab2 {
    padding-left: 4em;
}

tab3 {
    padding-left: 8em;
}

tab4 {
    padding-left: 12em;
}

tab5 {
    padding-left: 16em;
}

tab6 {
    padding-left: 20em;
}

tab7 {
    padding-left: 24em;
}

tab8 {
    padding-left: 28em;
}
