tab1 {
    padding-right: 0em;
}

tab2 {
    padding-right: 4em;
}

tab3 {
    padding-right: 8em;
}

tab4 {
    padding-right: 12em;
}

tab5 {
    padding-right: 16em;
}

tab6 {
    padding-right: 20em;
}

tab7 {
    padding-right: 24em;
}

tab8 {
    padding-right: 28em;
}
